@media(MAX-WIDTH : 600PX){
/********************************************START*************************************************/
    *{
        margin : 0;
    	padding : 0;
    }
    
    body{
    	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    }
    
    
    
    nav{
    	background : linear-gradient(60deg, #f40808,#19243a,#f40808);
    	height : 80px;
    	width : 100%;
    	display : flex;
    	align-items : center;
    	justify-content : space-between;
    	color : #ffffff;
    	position : fixed;
    	padding-right :25px;
    	z-index : 1;
    }
    nav .nav_links{
        display : flex;
    }
    
    nav .icon_image{
        width : 75px;
    	height : 75px;
        margin-left : 75px;	
    }
    
    nav .fa-bars{
    	font-size : 2rem;
    	padding-left :25px;
    }
    
    nav .nav_links a{
    	font-size : 1.25rem;
    	color : #ffffff;
    	text-decoration : none;
    	padding-left : 2.5px;
    	padding-right : 2.5px;
    }
    
    nav .nav_links a:hover{
    	color : #ffffff;
    	text-decoration : none;
    	background : none;
    	box-shadow : 1px 1px 3px #3e3e3e;
        transition-property : box-shadow;
    	transition-duration : 3s;
    	transition-timing-function : linear;
    }	
/*************************FIRST SECTION*************************/
    
    .first_section{
    	width : 100%;
     	min-height : 0;
		height : 100%;
    	padding-top : 50px;
    }
    
    .first_section_content{
    	width : 100%;
    	height : 100%;
    }
    
    .first_section .first_section_flex{
    	display : flex;
		flex-direction : column;
    	width : 100%;
    	height : 100%;
    }
    .first_section .first_section_left_flex{
    	padding-top : 50px;
    	width : 100%;
    	background : #000000;
    	position : relative;
    }
    
    .first_section .first_section_right_flex{
    	width : 100%;
    	background : #f3efff;
    }
    
    .first_section .barbing_images{
    	width : 90%;
    	margin-left : 7.5px;
    	display : inline;
    }
    
    .first_section .barbing_image{
    	width : 55px;
    	height : 70px;
    	border-radius : 100%;
    }
    
    
    .fa-plus, .fa-play{
    	display : none;
    	position : absolute;
    	top : 45%;
    	left : 45%;
    }
    
    .barbing_images_slide{
    	display : none;
    }
    .first_section .image_container{
    	position : relative;
    	border-radius : 100%;
    	display : inline;
    	margin : 0 5px 0 5px;
    }
    .first_section .image_container:hover{
    	cursor : pointer;
    	color : #ffffff;
    	.barbing_image{
    	opacity : 0.3;
    	    
    	}
    	.fa-plus, .fa-play{
    		display : block;
    	}
    }
    
    .left_nav_menu{
    	position : absolute;
    	top : 6%;
    	border : none;
    	border-radius : 100%;
    	background :#C59D5F;
    	width : 25px;
    	height : 25px;
    	color : #ffffff;
    }
    .right_nav_menu{
    	position : absolute;
    	top : 6%;
    	right : 0;
    	border : none;
    	border-radius : 100%;
    	background :#C59D5F;
    	width : 25px;
    	height : 25px;
    	color : #ffffff;
    }
    
    
    
    .first_section table{
    	margin-top : 50px;
       color :#C59D5F;
       width : 90%;
       border : solid 1px #C59D5F;
       margin-left : auto;
       margin-right : auto;
       font-size : 1rem;
    }
	.first_section .catalogue_text{
	   padding-left : 5%;
	   font-size : 0.8rem;
	}	
    
    .first_section table tr{
    	border-bottom : solid 2px #C59D5F;
    	height : 60px;
      
    }
    
    .first_section table td{
       font-size : 0.75rem;
       
    }
    .first_section table .style_text{
    	padding-left : 15px;
    }
    .first_section table .price_text{
    	font-size : 1rem;
    }
    
    .first_section .form_container{
    	width : 80%;
    	margin-left : auto;
    	margin-right : auto;
    }
    
    .first_section form{
    	width : 100%;
    	z-index : 0;
    }
    
    .first_section .form-group{
    	padding : 10px 0 10px 0; 
    }
    
    .first_section label{
    	color :#082137;
    	font-weight : 600;
    }
    
    .first_section .form_text{
    	padding-left : 20px;
    	padding-right : 20px;
    	padding-top : 50px;
    	font-style : oblique;
    }
    
    .first_section .submit_button{
    	width : 90%;
    	height : 45px;
    	border : none;
    	outline : none;
    	border-radius : 3px;
    	background : #5c0026;
    	color : #ffffff;
    	font-weight : 600;
    	font-size : 1.5rem;
    	margin-top : 50px;
    	margin-left : 25px;
    }
    
    .first_section .custom-checkbox{
        z-index : 0;
    }
    
    
    #body_overlay{
    	display : none;
    	top : 0;
    	left : 0;
    	width : 100%;
    	height : 100%;
    	position : absolute;
    	background : #000000E5;
    	z-index : 4;
    }
    
    .first_big_image, .third_big_image{
    	position : absolute;
    	width : 275px;
    	height : 275px;
    	top : 30%;
    	left : 10%;
    	z-index : 5;
    	visibility : hidden;
    }
    
    .second_big_image{
    	position : absolute;
    	width : 400px;
    	height : 500px;
    	top : 10%;
    	left : 5%;
    	z-index : 5;
    	visibility : hidden;
    }
    .fourth_big_image, .fifth_big_image, .sixth_big_image, .eleventh_big_image, .twelfth_big_image, .fifteenth_big_image{
    	position : absolute;
    	width : 300px;
    	height : 400px;
    	top : 15%;
    	left : 10%;
    	z-index : 5;
    	visibility : hidden;
    }
    
    
    .seventh_big_image{
    	position : absolute;
    	width : 300px;
    	height : 300px;
    	top : 25%;
    	left : 10%;
    	z-index : 5;
    	visibility : hidden;
    }
    
    .eight_big_image{
    	position : absolute;
    	height : 500px !important;
    	top : 10%;
    	left : 10%;
    	z-index : 5;
    	visibility : hidden;
    }
    
    
    .ninth_big_image{
    	position : absolute;
    	height : 500px !important;
    	top : 10%;
    	left : 10%;
    	z-index : 5;
    	visibility : hidden;
    }
    
    
    .tenth_big_image{
    	position : absolute;
    	height : 500px !important;
    	top : 10%;
    	left : 10%;
    	z-index : 5;
    	visibility : hidden;
    }
    
    
    .thirteenth_big_image{
    	position : absolute;
    	height : 500px !important;
    	top : 10%;
    	left : 10%;
    	z-index : 5;
    	visibility : hidden;
    }
    .fourteenth_big_image{
    	position : absolute;
    	height : 500px !important;
    	top : 10%;
    	left : 10%;
    	z-index : 5;
    	visibility : hidden;
    }
    
    
    #body_overlay .fa-times{
    	position : absolute;
    	top : 5%;
    	right : 5%;
    	color : #ffffff;
    	font-size : 2rem;
    	cursor : pointer;
    }	
	
	
	
/************************************************END************************************************/
}	